apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: promtail
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: promtail
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: promtail
    config:
      clients:
        - url: http://loki-headless.monitoring.svc.cluster.local:3100/loki/api/v1/push
    resources:
      requests:
        cpu: 50m
        memory: 150Mi
      limits:
        memory: 150Mi
    serviceMonitor:
      enabled: true
    tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: nas
        operator: Exists
        effect: NoSchedule
