apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app envoy-certificates
  labels:
    flux.local/enabled: "true"
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: cert-manager-issuers
  interval: 1h
  path: ./kubernetes/main/infrastructure/network/envoy-gateway/certificates
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-gateway
  labels:
    flux.local/enabled: "true"
  namespace: flux-system
spec:
  dependsOn:
    - name: envoy-certificates
  interval: 1h
  path: ./kubernetes/main/infrastructure/network/envoy-gateway/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: false
