apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
spec:
  interval: 30m
  chart:
    spec:
      chart: redis
      version: 23.2.11
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: longhorn
  values:
    architecture: standalone
    auth:
      enabled: true
      existingSecret: redis-credentials
      existingSecretPasswordKey: password
      usePasswordFiles: false
    image:
      repository: bitnami/redis
      tag: latest
    master:
      count: 1
      resourcesPreset: micro
      persistence:
        enabled: true
        accessModes:
          - ReadWriteOnce
        size: 5Gi
        storageClass: longhorn
    metrics:
      enabled: true
      image:
        registry: docker.io
        repository: bitnami/redis-exporter
        tag: latest
