hubble:
  relay:
    enabled: true
  ui:
    enabled: true
    ingress:
      enabled: true
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.network.svc.cluster.local/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://oauth2-proxy.internal.denniseffing.de/oauth2/start?rd=https://$host$uri"
      className: nginx-internal
      hosts:
        - hubble.internal.denniseffing.de

operator:
  replicas: 1
