apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
spec:
  interval: 30m
  timeout: 1m30s
  chartRef:
    kind: OCIRepository
    name: sabnzbd
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: longhorn
  values:
    controllers:
      sabnzbd:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5@sha256:485440a3e9209a3515c01e1c73d6088726491a292302a721d4cb9e7c6375c768
            env:
              TZ: Europe/Berlin
              SABNZBD__PORT: &port 80
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.default,
                sabnzbd.default.svc,
                sabnzbd.default.svc.cluster,
                sabnzbd.default.svc.cluster.local,
                usenet.internal.denniseffing.de
            envFrom:
              - secretRef:
                  name: sabnzbd
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 373m
                memory: 1Gi
              limits:
                cpu: 400m
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: rachel
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
      tolerations:
        - key: nas
          operator: Equal
          value: "true"
          effect: NoSchedule
    service:
      app:
        controller: sabnzbd
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "usenet.internal.denniseffing.de"
        parentRefs:
          - name: envoy-internal
            namespace: network
      api:
        hostnames:
          - "usenet.internal.denniseffing.de"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - name: api
            matches:
              - path:
                  type: PathPrefix
                  value: /api
            backendRefs:
              - group: ""
                kind: Service
                name: sabnzbd
                port: 80
                weight: 1
    persistence:
      config:
        existingClaim: sabnzbd-config
      tmp:
        type: emptyDir
      media:
        type: hostPath
        hostPath: /mnt/storage-2/plex
        globalMounts:
          - path: /media
      media-1:
        type: hostPath
        hostPath: /mnt/storage-1/plex
        globalMounts:
          - path: /media-1
      media-2:
        type: hostPath
        hostPath: /mnt/storage-2/plex
        globalMounts:
          - path: /media-2
