apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ack-iam-controller
spec:
  interval: 30m
  releaseName: ack-iam-controller
  chartRef:
    kind: OCIRepository
    name: ack-iam-controller
  install:
    disableSchemaValidation: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    disableSchemaValidation: true
    remediation:
      strategy: rollback
      retries: 3
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
              name: ack-iam-controller
            patch: |
              - op: add
                path: /spec/template/spec/containers/-
                value:
                  name: iam-roles-anywhere-sidecar
                  image: ghcr.io/denniseffing/aws-signing-helper:1.7.0
                  env:
                    - name: TRUST_ANCHOR_ARN
                      value: "arn:aws:rolesanywhere:eu-central-1:514266269969:trust-anchor/74a9e9cd-97a2-4b99-a51f-2c79109e8dc0"
                    - name: PROFILE_ARN
                      value: "arn:aws:rolesanywhere:eu-central-1:514266269969:profile/c67818cb-675b-4bda-8eb1-1c99289fec10"
                    - name: ROLE_ARN
                      value: "arn:aws:iam::514266269969:role/ack-iam-controller"
                  securityContext:
                    allowPrivilegeEscalation: false
                    privileged: false
                    readOnlyRootFilesystem: true
                    runAsNonRoot: true
                    runAsUser: 1000
                    runAsGroup: 1000
                  volumeMounts:
                    - name: "certificate"
                      mountPath: "/iamra"
                      readOnly: true
                  resources:
                    requests:
                      cpu: "10m"
                      memory: "32Mi"
                    limits:
                      cpu: null
                      memory: "32Mi"
  values:
    nameOverride: ack-iam-controller
    fullnameOverride: ack-iam-controller
    aws:
      region: eu-central-1
    deployment:
      extraEnvVars:
        - name: AWS_EC2_METADATA_SERVICE_ENDPOINT
          value: "http://localhost:9911/"
      extraVolumes:
        - name: "certificate"
          csi:
            readOnly: true
            driver: csi.cert-manager.io
            volumeAttributes:
              csi.cert-manager.io/issuer-name: aws-trusted-issuer
              csi.cert-manager.io/issuer-group: cert-manager.io
              csi.cert-manager.io/common-name: "${SERVICE_ACCOUNT_NAME}.${POD_NAMESPACE}"
              csi.cert-manager.io/duration: 168h
              csi.cert-manager.io/renew-before: 24h
              csi.cert-manager.io/is-ca: "false"
              csi.cert-manager.io/key-usages: "client auth, server auth, digital signature"
              csi.cert-manager.io/fs-group: "1000"
    reconcile:
      resources:
        - Role
    resources:
      requests:
        cpu: "10m"
        memory: "64Mi"
      limits:
        cpu: null
        memory: "64Mi"
    serviceAccount:
      create: true
      name: ack-iam-controller
