apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 30m
  releaseName: cert-manager
  chartRef:
    kind: OCIRepository
    name: cert-manager
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: monitoring
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: cert-manager-helm-values
