apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-gateway
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: k8s-gateway
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - ross
    domain: internal.denniseffing.de
    resources:
      requests:
        cpu: 10m
        memory: 80Mi
      limits:
        memory: 80Mi
    watchedResources:
      - Ingress
