apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: dennis.effing@outlook.com
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      - dns01:
          webhook:
            solverName: ovh
            groupName: acme.denniseffing.de
            config:
              endpoint: ovh-eu
              authenticationMethod: application
              applicationKeyRef:
                name: ovh-credentials
                key: OVH_APPLICATION_KEY
              applicationConsumerKeyRef:
                name: ovh-credentials
                key: OVH_CONSUMER_KEY
              applicationSecretRef:
                name: ovh-credentials
                key: OVH_APPLICATION_SECRET
        selector:
          dnsZones:
            - internal.denniseffing.de
      - http01:
          gatewayHTTPRoute:
            parentRefs:
              - name: envoy-external
                namespace: network
        selector:
          dnsZones:
            - denniseffing.de
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: dennis.effing@outlook.com
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - dns01:
          webhook:
            solverName: ovh
            groupName: acme.denniseffing.de
            config:
              endpoint: ovh-eu
              authenticationMethod: application
              applicationKeyRef:
                name: ovh-credentials
                key: OVH_APPLICATION_KEY
              applicationConsumerKeyRef:
                name: ovh-credentials
                key: OVH_CONSUMER_KEY
              applicationSecretRef:
                name: ovh-credentials
                key: OVH_APPLICATION_SECRET
        selector:
          dnsZones:
            - internal.denniseffing.de
      - dns01:
          webhook:
            solverName: ovh
            groupName: acme.denniseffing.de
            config:
              endpoint: ovh-eu
              authenticationMethod: application
              applicationKeyRef:
                name: ovh-credentials
                key: OVH_APPLICATION_KEY
              applicationConsumerKeyRef:
                name: ovh-credentials
                key: OVH_CONSUMER_KEY
              applicationSecretRef:
                name: ovh-credentials
                key: OVH_APPLICATION_SECRET
        selector:
          dnsZones:
            - denniseffing.de
      - http01:
          gatewayHTTPRoute:
            parentRefs:
              - name: envoy-external
                namespace: network
        selector:
          dnsZones:
            - denniseffing.de
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: aws-trust-anchor
spec:
  selfSigned: {}
