apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sealed-secrets
spec:
  interval: 30m
  releaseName: sealed-secrets-controller
  chart:
    spec:
      chart: sealed-secrets
      version: 2.17.9
      sourceRef:
        kind: HelmRepository
        name: sealed-secrets
        namespace: flux-system
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: monitoring
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: sealed-secrets-helm-values
