apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - externalsecret.yaml
  - helmrelease.yaml
  - ocirepository.yaml
  - pvc.yaml
configMapGenerator:
  - name: sonarr-configmap
    files:
      - codec-tagger.sh=./resources/codec-tagger.sh
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
