apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  labels:
    app.kubernetes.io/name: home-assistant-matter-server
resources:
  - deployment.yaml
  - pvc.yaml
  - service.yaml
