apiVersion: v1
kind: Service
metadata:
  name: home-assistant-matter-server
  labels:
    app.kubernetes.io/name: home-assistant-matter-server
spec:
  type: ClusterIP
  ports:
    - name: websocket
      port: 5580
      targetPort: websocket
  selector:
    app.kubernetes.io/name: home-assistant-matter-server
