apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword
spec:
  interval: 30m
  releaseName: onepassword
  chart:
    spec:
      chart: connect
      version: 2.1.1
      sourceRef:
        kind: HelmRepository
        name: onepassword
        namespace: flux-system
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: monitoring
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    connect:
      api:
        httpPort: 80
        resources:
          requests:
            cpu: 14m
            memory: 50Mi
          limits:
            memory: 50Mi
      credentialsName: onepassword-connect
      credentialsKey: credentials
      serviceType: ClusterIP
      sync:
        resources:
          requests:
            cpu: 10m
            memory: 30Mi
          limits:
            memory: 30Mi
    operator:
      create: true
      resources:
        requests:
          cpu: 10m
          memory: 240Mi
        limits:
          memory: 240Mi
      token:
        name: onepassword-connect
        key: token
    serviceMonitor:
      enabled: true
