apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ngx
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: paperless-ngx
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: longhorn
  values:
    controllers:
      paperless-ngx:
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.14.7
            env:
              PAPERLESS_APP_TITLE: "Paperless"
              PAPERLESS_APPS: "allauth.socialaccount.providers.github"
              PAPERLESS_OCR_LANGUAGE: "deu+eng"
              PAPERLESS_SOCIAL_AUTO_SIGNUP: "true"
              PAPERLESS_SUPERVISORD_WORKING_DIR: "/tmp"
              PAPERLESS_TASK_WORKERS: "2"
              PAPERLESS_THREADS_PER_WORKER: "1"
              PAPERLESS_URL: "https://paperless.internal.denniseffing.de"
              PAPERLESS_USE_X_FORWARD_HOST: "true"
              PAPERLESS_USE_X_FORWARD_PORT: "true"
              PAPERLESS_PROXY_SSL_HEADER: '["HTTP_X_FORWARDED_PROTO", "https"]'
              PAPERLESS_PORT: &port 80
              PYTHONPYCACHEPREFIX: "/tmp/pycache"
              TZ: Europe/Berlin
              USERMAP_UID: 1000
              USERMAP_GID: 1000
            envFrom:
              - secretRef:
                  name: paperless-ngx
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 12m
                memory: 1300Mi
              limits:
                memory: 1300Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: paperless-ngx
        ports:
          http:
            port: *port
    ingress:
      app:
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: 100m
        className: nginx-internal
        hosts:
          - host: "paperless.internal.denniseffing.de"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      consume:
        existingClaim: paperless-ngx-consume
        globalMounts:
          - path: /usr/src/paperless/consume
      data:
        existingClaim: paperless-ngx-data
        globalMounts:
          - path: /usr/src/paperless/data
      export:
        type: emptyDir
        globalMounts:
          - path: /usr/src/paperless/export
      media:
        existingClaim: paperless-ngx-media
        globalMounts:
          - path: /usr/src/paperless/media
      tmp:
        type: emptyDir
