apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-media-server
spec:
  chart:
    spec:
      chart: plex-media-server
      sourceRef:
        kind: HelmRepository
        name: plex
        namespace: default
      version: 1.4.0
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  interval: 5m
  postRenderers:
    - kustomize:
        patches:
          - patch: |-
              - op: add
                path: /spec/template/spec/resourceClaims
                value:
                  - name: gpu
                    resourceClaimTemplateName: plex
              - op: add
                path: /spec/template/spec/containers/0/resources/claims
                value:
                  - name: gpu
            target:
              kind: StatefulSet
              name: plex-media-server
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - joey
    httpRoute:
      enabled: true
      parentRefs:
        - name: envoy-external
          namespace: network
      hostnames:
        - plex.denniseffing.de
    image:
      repository: plexinc/pms-docker
      tag: 1.42.1.10060-4e8b05daf
    initContainer:
      script: |-
        #!/bin/sh
        echo "waiting for pre-existing pms database to uploaded..."

        if [ -d "/config/Library" ]; then
          echo "PMS library already exists, exiting."
          exit 0
        fi

        # wait for the database archive to be manually copied to the server
        while [ ! -f /pms.tgz ]; do sleep 2; done;

        tar -xvzf /pms.tgz -C /config
        rm pms.tgz

        echo "Done."
    extraVolumes:
      - name: storage-1
        nfs:
          server: 192.168.178.52
          path: /nfs/storage-1/plex
      - name: storage-2
        nfs:
          server: 192.168.178.52
          path: /nfs/storage-2/plex
    extraVolumeMounts:
      - name: storage-1
        mountPath: "/mnt/storage-1"
      - name: storage-2
        mountPath: "/mnt/storage-2"
    pms:
      configStorage: 100Gi
      resources:
        requests:
          cpu: 900m
          memory: 500Mi
        limits:
          memory: 2Gi
      storageClassName: longhorn
    tolerations:
      - key: nas
        operator: Equal
        value: "true"
        effect: NoSchedule
