apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: plex
  labels:
    app.kubernetes.io/name: plex-media-server
    app.kubernetes.io/instance: plex-media-server
spec:
  spec:
    devices:
      requests:
        - name: gpu
          exactly:
            deviceClassName: gpu.intel.com
