apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
spec:
  interval: 30m
  releaseName: external-dns
  chartRef:
    kind: OCIRepository
    name: external-dns
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: monitoring
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    domainFilters:
      - denniseffing.de
    env:
      - name: OVH_APPLICATION_KEY
        valueFrom:
          secretKeyRef:
            name: ovh-credentials
            key: OVH_APPLICATION_KEY
      - name: OVH_APPLICATION_SECRET
        valueFrom:
          secretKeyRef:
            name: ovh-credentials
            key: OVH_APPLICATION_SECRET
      - name: OVH_CONSUMER_KEY
        valueFrom:
          secretKeyRef:
            name: ovh-credentials
            key: OVH_CONSUMER_KEY
    extraArgs:
      - --exclude-target-net=192.168.178.0/24
    interval: 5m
    provider:
      name: ovh
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 64Mi
    serviceMonitor:
      enabled: true
    sources:
      - ingress
      - gateway-httproute
