apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  chartRef:
    kind: OCIRepository
    name: longhorn
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: monitoring
  interval: 5m
  timeout: 20m
  values:
    defaultSettings:
      defaultDataLocality: best-effort
      defaultReplicaCount: 1
      taintToleration: nas=true:NoSchedule
    longhornUI:
      replicas: 1
    longhornManager:
      tolerations:
        - key: nas
          operator: Equal
          value: "true"
          effect: NoSchedule
    longhornDriver:
      tolerations:
        - key: nas
          operator: Equal
          value: "true"
          effect: NoSchedule
    metrics:
      serviceMonitor:
        enabled: true
    persistence:
      defaultClass: false
      defaultClassReplicaCount: 1
      defaultDataLocality: best-effort
      reclaimPolicy: Retain
    preUpgradeChecker:
      jobEnabled: false
