apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: radarr
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: longhorn
  values:
    controllers:
      radarr:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.1.1.10317@sha256:5e08c0eefd2770d1d29395c4f84fe5bf7dfc3a986598021306a5d8ac017a3989
            env:
              RADARR__APP__INSTANCENAME: Radarr
              RADARR__APP__THEME: auto
              RADARR__AUTH__METHOD: External
              RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
              RADARR__LOG__DBENABLED: "False"
              RADARR__LOG__LEVEL: info
              RADARR__SERVER__PORT: &port 80
              RADARR__UPDATE__BRANCH: develop
              TZ: Europe/Berlin
            envFrom:
              - secretRef:
                  name: radarr
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 20
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 18m
                memory: 255Mi
              limits:
                memory: 255Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: rachel
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
      tolerations:
        - key: nas
          operator: Equal
          value: "true"
          effect: NoSchedule
    service:
      app:
        controller: radarr
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "radarr.internal.denniseffing.de"
        parentRefs:
          - name: envoy-internal
            namespace: network
      api:
        hostnames:
          - "radarr.internal.denniseffing.de"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - name: api
            matches:
              - path:
                  type: PathPrefix
                  value: /api
            backendRefs:
              - group: ""
                kind: Service
                name: radarr
                port: 80
                weight: 1
    persistence:
      config:
        existingClaim: radarr-config
      cache:
        existingClaim: radarr-cache
        globalMounts:
          - path: /config/MediaCover
      tmp:
        type: emptyDir
      media:
        type: hostPath
        hostPath: /mnt/storage-2/plex
        globalMounts:
          - path: /media
      media-1:
        type: hostPath
        hostPath: /mnt/storage-1/plex
        globalMounts:
          - path: /media-1
      media-2:
        type: hostPath
        hostPath: /mnt/storage-2/plex
        globalMounts:
          - path: /media-2
